<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Profy! Your online studying platform.</title>
    
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="/Styles/Partials/landing-page.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <!--
        selector em cascata tem  mais forca, a seguir o id, depois a classe e terminando no elemento
    
    
    so pra tag h1 
<style>
    h1{
        color: red;
    }
</style>
-->
    <!-- so pra class red
    <style>
        .red{
            color: red;
        }
    </style>
    -->
    <!-- pra id
       <style>
        #landing-page{
            color: red;
        }
    </style>
-->
</head>

<body id="landing-page">
    <div id="container">
        <div class="image-container">
            <img src="/images/logo.svg" alt="Proffy">
            <h2>Your online studying platform</h2> 
        </div>

        <img src="/images/landing.svg" alt="Studying Platform" class="hero-image">

        <div class="buttons-container">
            <a class="study-link" href="/study">
                <img src="/images/icons/study.svg" alt="Study">
                Study
            </a>
            <a class="teach-link" href="/teach">
                <img src="/images/icons/give-classes.svg" alt="Teach">
                Teach
            </a>
        </div>

        <p class="total-connections">
           Total of 200 connections realized
           <img src="/images/icons/purple-heart.svg" alt="Purple Heart">
        </p>

    </div>
</body>

</html>