
.header-page{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column; 
}

.header-page .top-bar-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    page-break-after: 1.6rem 0;
}

.header-page .top-bar-container > img{
    height: 1.6rem;
}

.header-page .top-bar-container a{
    height: 3.2rem;
    transition: opacity 0.2s;
}

.header-page .top-bar-container a:hover{
    opacity: 0.6;
}

.header-page .header-content{
    width: 90%;
    margin: 3.2rem auto;
    position: relative;
}

.header-page .header-content strong{
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.header-page .header-content p{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

@media(min-width: 700px){
    .header-page{
        height: 250px;
    }

    .header-page .top-bar-container{
        max-width: 1100px;
    }

    .header-page .header-content{
        max-width: 740px;
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .header-page .header-content strong{
        max-width: 350px;
    };

}